;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [
  ;; dev tools
  [binaryage/devtools "1.0.5"]
  [cider/cider-nrepl "0.28.3"]
  [proto-repl "0.3.1"] ; if using Atom
  ;; working with data
  [datascript "1.3.10"]
  [json-html "0.4.7"]
  [cljs-http "0.1.46"]
  ;; Displaying and manipulating graphics
  [quil "3.1.0"]
  ;; Front-end web framework
  [re-frame "1.2.0"]
  [re-com "2.13.2"]
  [reagent "1.0.0"]
  ;; Displaying internal state
  [coll-pen "0.2.1"]
  ;; Data manipulating
  [net.mikera/core.matrix "0.62.0"]
  ]

 :nrepl
 {:port 3333}
 
 :builds
 {:eco {:target :browser
        :output-dir "public/js"
        :asset-path "js"
        :modules {:main {:entries [front.core]}}
        :compiler-options {:infer-externs :auto
                           :externs ["datascript/externs.js"]}
        :devtools {:preloads [devtools.preload]
                   :before-load front.core/stop
                   :after-load  front.core/start
                   ;;before-load-async load asset data???
                   :watch-dir "resources"
                   ;; :build-hooks
                   :http-root "public"
                   :http-port 8020
                   :hud true
                   :open-file-command ["emacsclient" "-n" ["+%s:%s" :line :column] :file]
                   }
        }}}
